In [42]:
#請建立類似提供結果的 DataFrame：
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

In [43]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
print(df1)

   Apples  Bananas
0      30       21

In [44]:
df2 = pd.DataFrame([[35, 21], [41, 34]], index=['2017 Sales', '2018 Sales'], columns=['Apples', 'Bananas'])
print(df2)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [45]:
#請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon

In [46]:
df3 = pd.DataFrame({
    'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
    'visitor': ['139', '237', '326', '456'],
    'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
})
print(df3)

print(df3.head())
print(df3.tail())
print(df3.describe())
print(df3.info())

     city visitor weekday
0  Austin     139     Sun
1  Dallas     237     Sun
2  Austin     326     Mon
3  Dallas     456     Mon
     city visitor weekday
0  Austin     139     Sun
1  Dallas     237     Sun
2  Austin     326     Mon
3  Dallas     456     Mon
     city visitor weekday
0  Austin     139     Sun
1  Dallas     237     Sun
2  Austin     326     Mon
3  Dallas     456     Mon
          city visitor weekday
count        4       4       4
unique       2       4       2
top     Dallas     139     Sun
freq         2       1       2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city     4 non-null      object
 1   visitor  4 non-null      object
 2   weekday  4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

In [47]:
#承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？